@{
    ViewBag.Title = "حول الموقع";
}
<div class="container mt-4">
    <h2>حول الموقع</h2>
    <p>هذا الموقع يعرض مواعيد مباريات كرة القدم بشكل يومي. يمكنك تصفح المباريات حسب اليوم أو البطولة.</p>
</div> 